@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background: {
        image: url('../mobile/bg-image-daytime.jpg');
        repeat: no-repeat;
        size: cover;
    }
    font: {
        family: 'Inter Regular', sans-serif;
        size: 18px;
    }
    line-height: 28px;
    color: #FFFFFF;
}

main {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    background: none;
}

.blockquote-container {
    width: 324px;
    display: flex;
    justify-content: center;
}

.quote-container {
    width: 290px;
    font-size: 12px;
    text-align: left;
}

.refresh-quote-container {
    width: 16.67px;
}

@media screen and (min-width: 376px) {
    
}

@media screen and (min-width: 769px) {
    
}